body {
  margin: 0;
}
#root {
  max-width: 100vw;
  margin: 0px 0px;
}

.container {
  display: flex;
  flex-wrap: wrap;
}

.card {
  margin: 1rem;
  border: 1px solid gray;
}

.card img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 30vw;
}

#logo {
  display: block;
  padding: 0px 0px;
  margin-bottom: 10px;
  width: 98vw;
  height: auto;
}

#divSearchBar{
  display: flex;
  justify-content: center;
}

input#searchBar{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50vw;
  height: 30px;
}

.card h1, .card p, .card img {
  text-align: center;
}

.card img {
  justify-items: center;
  align-items: center;
}

input {
  width: 90vw;
}

@media screen and (min-width: 600px) {
  .card {
    flex: 1 1 calc(50% - 2rem);
  }
}

@media screen and (min-width: 900px) {
  .card {
    flex: 1 1 calc(33% - 2rem);
  }
}